.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 20px 0px;
  min-height: 160px;
}
.row-footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #000;
  color:#fff;
}
.jumbotron {
  margin: 0px auto;
  padding: 0px 0px;
  color: floralwhite;
  height: 600px;
  overflow:hidden;
}
.floater {
  float:left;
  position: absolute;
  top: 60px;
  left: 10px;
  z-index: 1;
  padding: 5px;
}
.dbox {
  min-height: 350px; 
}
.description {
  border: 1px solid #ff873b;
  margin-left: 12.5%;
  width: 75%;
  max-height: 150px;
}
.icon {
  margin-left: 30%;
  width: 40%;
  height: 80px;
}
.cover {
  width: 100%;
  height: auto;
  opacity: 0.3;
}
.appointment {
  width: 100%;
  background-color: #ff873b;
  color: #fff;
  margin-left: 30px;
}
.carousel {
  background: #1a237e;
}
.carousel .item {
  height: 300px;
}
.carousel .item img {
  left: 0;
  min-height: 300px;
  position: absolute;
  top: 0;
}
.navbar-inverse {
  background: #ff873b;
  color: #ffffff;
  border: none;
}
.navbar-inverse .navbar-nav > .active > a {
  background: #d87131;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:hover {
  background: #d87131;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:focus {
  background: #d87131;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a {
  background: #d87131;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  background: #d87131;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background: #d87131;
  color: #ffffff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  background-color: #ff873b;
  color: #ffffff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #000000;
  background-color: #d87131;
}
.navbar-inverse .navbar-nav .open .dropdown-menu {
  background-color: #ff873b;
  color: #ffffff;
}
.navbar-inverse .navbar-nav >li >a {
  background-color: #ff873b;
  color: #fcefef;
}
address {
  color: #fff;
  font-size: 100%;
  margin: 0px;
}
body {
  align: center;
  padding: 50px 0px 0px 0px;
  z-index: 0;
}
.tab-content {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 10px;
}
.affix {
  top: 100px;
}
#carouselButtons {
  bottom: 0px;
  position: absolute;
  right: 0px;
}
.content {
  font-family: Century Gothic; 
  color:#526077; 
  font-size: 1vw;
}
.section-title {
  margin-bottom: 40px; 
  padding-bottom: 20px; 
  color: #ff873b; 
  border-bottom: 1px solid #ff873b
}
.modal {
  display: block;
  z-index: 100;
  border: 1px solid #000;
  background-color: #fff;
  height: 450px;
  margin-top: 20%;
  position: absolute;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
.modal-title {
  width: 100%;
  height: 80px;
  padding-right: 5px;
  background-color: #ff873b;
  color: #fff;
  margin-top: 0px;
  padding-top: 5px;
}
.modal-stuff {
  width: 100%;
  height: 320px;
  padding: 50px 30px 30px 30px;
}
