<div class="container">
    
    <div class="row row-content" style="padding-bottom:70px; padding-top:80px">
       <div class="col-xs-12 section-title">
          <h2>Adult Hearing Assessment</h2> 
       </div>
        <div class="col-xs-12 content">
            <p><i>Who can evaluate and treat my hearing?</i><p>
            <p><i>The Audiologists are the primary healthcare professionals who evaluate, diagnose, treat and manage hearing loss. Audiologists hold Bachelors or Masters or Doctor of Audiology (AuD) degrees and must be registered with the Rehabilitation Council of India.</i><p>
            <br>
            <p>Shabd Shravan believes in a comprehensive hearing assessment. We listen to your concerns and identify your overall communication needs. We use a combination of objective and subjective tests to fully assess your hearing. In completing your audiogram, we measure how well you hear a range of specific pitches that represent the sounds of speech. We also assess how well you hear and understand words and sentences in quiet and in background noise. </p>
            <br>
            <p>In creating a treatment plan, our main goal is to meet your communication needs. Your needs are unique, and Shabd Shravan strives to give you the tools to excel. Our treatment consults are fun and interactive - we use hearing loss simulations to apply your test results to real-world situations, and we encourage you to try out the latest in hearing technologies. </p>
    </div>

</div>