<div class="container">
    
    <div class="row row-content" style="padding-bottom:70px; padding-top:80px">
       <div class="col-xs-12 section-title">
          <h2>Auditory Processing Disorder</h2> 
       </div>
        <div class="col-xs-12 content">
            <p>The ear sends complex information all the way to the brain, which decodes the information to make sense of its meaning. We hear all the sounds of our world – including speech, language, and music –not with our ears, but with our brains. This is called auditory processing. This process is disrupted for children and adults with Central Auditory Processing Disorder.</p>
            <br>
            <p>When the ear does not coordinate with the brain, sounds are incorrectly heard and often misinterpreted. Persons with CAPD especially experience difficulty understanding sounds and speech in background noise (i.e., the hum of a fan, chatter in a classroom). CAPD can negatively impact listening, language skills, and learning.</p>
            <br>
            <p>CAPD cannot be diagnosed by symptoms alone. Only careful assessment of the auditory pathway by a professional trained in auditory disorders, an audiologist, leads to an accurate diagnosis of CAPD. While other providers (i.e. educators, speech language pathologists, psychologists) are important members of the care team for a patient who exhibits the difficulties associated with CAPD, only an audiologist can diagnose CAPD.</p>
            <br>
            <p>Treatment of CAPD is highly individualized and based upon the patient’s needs and diagnostic test results. Our team of audiologists and speech language pathologists will work with you and/or your child to determine the best treatment plan, and help provide important information to educate teachers and school personnel to ensure classroom modifications are in place to assist learning.</p>
        </div>
    </div>

</div>