<div class="container">
    
    <div class="row row-content" style="padding-bottom:70px; padding-top:80px">
       <div class="col-xs-12 section-title">
          <h2>Cochlear Implants</h2> 
       </div>
        <div class="col-xs-12 content">
            <p>Cochlear implants are designed to help moderately severe to profoundly deaf adults and children who get little or no benefit from hearing aids. They work by stimulating the auditory nerve directly. Cochlear Implants receive sound from the outside environment, process it, and send the electric currents to activate the nerve, which then sends a signal to the brain. The brain learns to recognize this signal and the person experiences this as “hearing”. </p>
            <br>
            <p>The cochlear implant somewhat simulates natural hearing, where sound creates an electric current that stimulates the auditory nerve.</p>
            <br>
            <p><b>Note: Candidacy for a Cochlear Implant is important. A team of professionals using various assessment techniques determine your eligibility for an implant.</b></p>
        </div>
    </div>

</div>