<div class="container">
    <div class="row row-content" style="padding-top:80px">
        <div class="col-xs-12 section-title">
           <h2>Contact Us</h2>
        </div>
    </div>
    
    <div class="row row-content" style="padding-bottom:70px">
        <div class="col-xs-12 col-sm-4">
            <img src="images/logo-medium.png" class="img-responsive" style="max-height:200px; padding-top:10px;">
        </div>
        <div class="col-xs-12 col-sm-8">
            <h3>Our Address</h3> 
            <h4><b>EXALT SPEAK & HEAR SERVICES - A Shabd Shravan initiative</b></h4>
            <address style="font-size: 100%; color:#000">
              Plot no. 155, Upper Basement,<br>
              Opposite Medanta Hospital, Sector 39<br>
              Gurgaon, Haryana, 122001<br>
              <i class="fa fa-phone"></i>: +91-7217853433<br>
              <i class="fa fa-envelope"></i>: 
                <a href="mailto:shabdshravan@gmail.com" style="color:#ff873b">info@exaltshc.com</a>
            </address>
    </div>
</div>
