<footer class="row-footer">
    <div class="container">
        <div class="row">             
            <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-1">
                <h4>Services</h4>
                <ul class="list-unstyled">
                    <li><a ui-sref="app.nbhs" style="color:#ff873b">Audiology</a></li>
                    <li><a ui-sref="app.slca" style="color:#ff873b">Speech and Language</a></li>
                </ul>
                <h4>Products</h4>
                <ul class="list-unstyled">
                    <li><a ui-sref="app.hearingaids" style="color:#ff873b">Hearing Aids</a></li>
                    <li><a ui-sref="app.cochlearimplants" style="color:#ff873b">Cochlear Implants</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-5">
                <h4 style="padding-left:40px">Contact Us</h4>
                <h6 style="padding-top:10px; padding-left:40px"><b>EXALT SPEAK & HEAR SERVICES - A Shabd Shravan initiative</b></h6>
                <address style="padding-left:40px;">
                    Plot no. 155, Upper Basement,<br>
                    Opposite Medanta Hospital, Sector 39<br>
                    Gurgaon, Haryana, 122001<br>
	                <i class="fa fa-phone"></i>: +91-7217853433<br>
	                <i class="fa fa-envelope"></i>: 
                    <a href="mailto:shabdshravan@gmail.com" style="color:#ff873b">info@exaltshc.com</a>
                </address>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h4 style="padding-left:25px">Follow Us</h4>
                <div class="nav navbar-nav" style="padding: 40px 10px;">
                    <a class="btn btn-social-icon btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
                    <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
                    <!--a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a-->
                    <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                    <!--a class="btn btn-social-icon btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube"></i></a-->
                </div>
            </div>
            <div class="col-xs-12">
                <p style="padding:10px;"></p>
                <p align=center>© Copyright 2018 Shabd Shravan</p>
            </div>
        </div>
    </div>
</footer>