<div class="container">
    
    <div class="row row-content" style="padding-top:80px">
        <div class="col-xs-12 section-title">
          <h2>Hearing Aids</h2> 
        </div>
        <div class="col-xs-12 content">
            <p>Exalt Speak & Hear Clinic offers the wide selection of quality hearing aids. We feature hearing aids by Seimens, Phonak, Starkey and Widex. Here, we love technology and believe it is an important tool in enhancing your communication.</p>
            <br>
            <p>We work with you and your family to find technology solutions that complement the other components of your treatment plan and lifestyle so that you can hear at your absolute best. It’s a great time to use technology to open up to a world of sound.</p>
            <br>
        </div>
    </div>
    <div class="row row-content" style="padding-bottom:70px">
        <div class="col-xs-9 col-xs-offset-3 content" style="left:10%">
           <h3>Types of Hearing Aids</h3>
           <br>
           <br> 
        </div>
        <div class="col-xs-12 col-sm-3 dbox">
            <img src="images/cic.jpg" class="img-responsive description">
            <h6 style="text-align:center"><b>Completely-in-the-Canal (CIC)/Invisible-in-the-Canal (IIC)</b></h6>
            <p style="text-align:center">This hearing aid is placed in the ear canal and is the smallest available. </p>
        </div>
        <div class="col-xs-12 col-sm-3 col-sm-offset-1 dbox">
            <img src="images/itc.jpg" class="img-responsive description">
            <h6 style="text-align:center"><b>In-the-Canal (ITC)</b></h6>
            <p style="text-align:center">This style is also designed to fit in the ear canal, but not as deeply as a CIC device, resting securely in the lower portion instead. It’s a little larger, making it easier to insert and remove and extending the battery life.</p>
        </div>
        <div class="col-xs-12 col-sm-3 col-sm-offset-1 dbox">
            <img src="images/ite.jpg" class="img-responsive description">
            <h6 style="text-align:center"><b>In-the-Ear (ITE)</b></h6>
            <p style="text-align:center">This hearing aid is designed to fill the outer portion of the ear, and is larger than those worn in the ear canals. It is less discreet, but the size allows for more features and makes the unit easier to adjust. A bigger battery translates to longer life.</p>
        </div>
        <div class="col-xs-12 col-sm-3 dbox">
            <img src="images/rite.jpg" class="img-responsive description">
            <h6 style="text-align:center"><b>Receiver-in-the-Ear (RITE)</b></h6>
            <p style="text-align:center">A RITE hearing aid consists of a tiny housing that rests behind the ear and contains all electronics except the receiver. A thin tube connects the housing to the receiver, which is worn in the concha (bowl-shaped portion) of the ear. It’s a small and discreet unit but powerful enough.</p>
        </div>
        <div class="col-xs-12 col-sm-3 col-sm-offset-1 dbox">
            <img src="images/bte.jpg" class="img-responsive description">
            <h6 style="text-align:center"><b>Behind-the-Ear (BTE)</b></h6>
            <p style="text-align:center">BTE device is curved to match the contour of the ear and rests directly behind the ear. The housing, which contains all the electronics, is encased in plastic and connects to the ear canal with a thin clear tube or ear mold. Though more visible than other styles, the BTE is simple to use.</p>
        </div>
        <div class="col-xs-12 col-sm-3 col-sm-offset-1 dbox">
            <img src="images/rite.jpg" class="img-responsive description">
            <h6 style="text-align:center"><b>Open Fit</b></h6>
            <p style="text-align:center">The Open Fit hearing aid is a smaller version of the BTE. Like that device, it rests behind the ear and includes a transparent tube that delivers sound to the ear canal through a very small earpiece.</p>
        </div>
    </div>
</div>
