    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-class="{collapsed: isCollpased}" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav nav-tabs nav-justified" style="z-index:10">
                    <li ng-class="{ active: hActive}" style="width:6%"><a ui-sref="app" ng-click="closeDropdown(); activateHome()" style="font-size:1vw">Home</a></li>
                    <li ng-class="{ active: mActive}" style="width:8%"><a ui-sref="app.meetss" ng-click="closeDropdown()" style="font-size:1vw">Meet Exalt</a></li>
                    <li class="dropdown" dropdown ng-class= "{ active: aActive, open: aOpen}" style="width:6%">
                        <a ng-click="aToggle()" class="dropdown-toggle" data-toggle="dropdown"
                         role="button" aria-haspopup="true" aria-expanded="{{aAria}}" style="font-size:1vw;">
                         Audiology <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="app.nbhs" ng-click="closeDropdown()">New Born Hearing Services</a></li>
                            <li><a ui-sref="app.pha" ng-click="closeDropdown()">Paediatric Hearing Assessment</a></li>
                            <li><a ui-sref="app.aha" ng-click="closeDropdown()">Adult Hearing Assessment</a></li>
                            <li><a ui-sref="app.apd" ng-click="closeDropdown()">Auditory Processing Disorders</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" dropdown ng-class= "{ active: slActive, open: slOpen}" style="width:13%">
                        <a ng-click="slToggle()" class="dropdown-toggle" data-toggle="dropdown"
                         role="button" aria-haspopup="true" aria-expanded="{{slArea}}" style="font-size:1vw;">
                         Speech & Language <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="app.slca" ng-click="closeDropdown()">Speech and Language Comprehensive Assessment</a></li>
                            <li><a ui-sref="app.slt" ng-click="closeDropdown()">Speech and Language Therapy</a></li>
                            <!--li><a ui-sref="app.vca" ng-click="closeDropdown()">Voice Comprehensive Assessment</a></li-->
                            <li><a ui-sref="app.vt" ng-click="closeDropdown()">Voice Therapy</a></li>
                        </ul>
                    </li>
                    <li ng-class="{ active: haActive}" style="width:8%"><a ui-sref="app.hearingaids" ng-click="closeDropdown()" style="font-size:1vw">Hearing Aids</a></li>
                    <li ng-class="{ active: ciActive}" style="width:13%"><a ui-sref="app.cochlearimplants" ng-click="closeDropdown()" style="font-size:1vw">Cochlear Implants</a></li>
                    <li ng-class="{ active: cActive}" style="width:8%"><a ui-sref="app.contactus" ng-click="closeDropdown()" style="font-size:1vw">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>         
               
    <header class="jumbotron">
        <img src="{{imgUrl}}" class="img-responsive cover">
        <div class="row row-header floater" style="width:100%;">
            <div class="col-sm-3">
                <img src="images/logo-medium.png" class="img-responsive" style="max-height:160px; padding-top:10px;">
                <p style="font-size:1vw; color:#ff873b">EXALT Speak and Hear Services<br>A Shabd Shravan Initiative</p>
            </div>
            <div class="col-sm-6">
                <p ng-if='home' style="font-size:2.4vw; color:#fff; shadow:0.5px; padding-top:180px; text-align:center;">{{coverText}}</p>
                <p ng-if='!home' style="font-size:2.8vw; color:#ff873b; shadow:0.5px; padding-top:220px; text-align:center;">{{coverText}}</p>
            </div>
        </div>  
    </header>
    
