<div class="container" ng-controller="IndexController">
    <div class="row row-content" style="padding-top: 60px; padding-bottom: 80px;">
        <div class="col-xs-6 col-sm-3">
            <i class="fa fa-clock-o" style="font-size:3.8vw; color:#ff873b; margin-left:40%;"></i>
        </div>
        <div class="col-xs-6 col-sm-4" style="margin-left:-7%">
            <table>
                <tr>
                    <td style="color:#000; text-align:center; padding:5px; padding-top:8px; border:1px solid #ff873b">Mon, Wed, Thu, Sat</td>
                    <td style="color:#000; text-align:center; padding:5px; padding-left:20px; padding-top:8px; border:1px solid #ff873b">10.30 - 19.30</td>
                </tr>
                <tr>
                    <td style="color:#000; text-align:center; padding:5px; border:1px solid #ff873b">Tue, Fri</td>
                    <td style="color:#000; text-align:center; padding:5px; padding-left:20px; border:1px solid #ff873b">10.30 - 14.00, 18.30 - 21.00</td>
                </tr>
            </table>
        </div>
        <div class="col-xs-12 col-sm-4" style="margin-left:7%">
            <button type="button" class="appointment btn btn-lg" ng-click="toggleModal()">Make An Appointment</button>
        </div>
    </div>
    <div class="row row-content" style="padding-bottom: 70px">
        <div class="col-xs-6 col-sm-3">
            <a ui-sref="app.nbhs"><img src="images/audiologist.png" class="img-responsive icon"></a>
            <p style="text-align:center; font-size:1vw">Audiology</p>
        </div>
        <div class="col-xs-6 col-sm-3">
            <a ui-sref="app.slca"><img src="images/voice.jpg" class="img-responsive icon"></a>
            <p style="text-align:center; font-size:1vw">Speech & Language</p>
        </div>
        <div class="col-xs-6 col-sm-3">
            <a ui-sref="app.hearingaids"><img src="images/hearing-aid.png" class="img-responsive icon"></a>
            <p style="text-align:center; font-size:1vw">Hearing Aids</p>
        </div>
        <div class="col-xs-6 col-sm-3">
            <a ui-sref="app.cochlearimplants"><img src="images/cochlear.jpg" class="img-responsive icon"></a>
            <p style="text-align:center; font-size:1vw">Cochlear Implants</p>
        </div>
    </div>
    <div class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1 modal" ng-if="modalActive">
        <div class="modal-title">
            <div class="col-xs-10">
                <h2 style="text-align:center; padding-left:16.5%">Appointment Details</h2>
            </div>
            <div class="col-xs-2">
                <a style="color:#fff" ng-click="closeModal()"><h2 style="text-align:center">&#10006</h2></a>
            </div>
        </div>
        <div class="modal-stuff">
            <form ng-if="!submitted" class="form-horizontal" role="form" data-ng-submit="appointment(user, aForm)" name="aForm" novalidate>
                <div class="form-group" ng-class="{ 'has-error' : aForm.name.$error.required && !aForm.name.$pristine }">
                    <label for="name" class="col-xs-2 control-label" style="font-size:1vw; text-align:left">Name</label>
                    <div class="col-xs-10">
                        <input type="text" style="font-size:1vw" class="form-control" id="name" name="name" placeholder="Enter Your Name" ng-model="user.name" required>
                        <span ng-show="aForm.name.$error.required && !aForm.name.$pristine" class="help-block">Your name is required.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : aForm.email.$invalid && !aForm.email.$pristine }">
                    <label for="email" class="col-xs-2 control-label" style="font-size:1vw; text-align:left">Email</label>
                    <div class="col-xs-10">
                        <input type="email" style="font-size:1vw" class="form-control" id="email" name="email" placeholder="Enter Your Email" ng-model="user.email" required>
                        <span ng-show="(aForm.email.$invalid || aForm.email.$error.required) && !aForm.email.$pristine" class="help-block">Enter a valid email address.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : aForm.contact.$invalid && !aForm.name.$pristine }">
                    <label for="contact" class="col-xs-2 control-label" style="font-size:1vw; text-align:left">Contact</label>
                    <div class="col-xs-10">
                        <input type="tel" style="font-size:1vw" class="form-control" id="contact" name="contact" placeholder="Enter 10 digit phone number" ng-model="user.contact" required>
                        <span ng-show="(aForm.contact.$invalid || aForm.contact.$error.required) && !aForm.contact.$pristine" class="help-block">Enter a valid contact number.</span>
                    </div>
                </div>
                <div class="col-xs-3 col-xs-offset-2">
                    <input type="submit" value="Submit" class="btn btn-lg appointment" ng-disabled="aForm.$invalid">
                </div>
                <div class="col-xs-3 col-xs-offset-2">
                    <input type="reset" value="Reset" class="btn btn-lg appointment">
                </div>
                <div class="row" ng-if="errorMsg">
                    <div class="col-xs-9 col-xs-offset-3">
                        <p style="color:red; font-size:0.9vw">Error Occurred. Please try again!</p>
                    </div>
                </div>
            </form>
            <div ng-if="submitted" style="margin-top:50px">
                <p style="font-size:1.5vw; text-align:center">Thanks for reaching out. We will contact you soon to schedule your appointment.</p>
                <div class="col-xs-4 col-xs-offset-4">
                    <button type="button" class="appointment btn btn-lg" ng-click="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

