<div class="container">
    
    <div class="row row-content" style="padding-bottom:70px; padding-top:80px">
       <div class="col-xs-12 section-title">
          <h2>Meet Exalt - A Shabd Shravan Initiative</h2> 
       </div>
        <div class="col-xs-12 content">
            <p>The idea of working for the society through Shabd Shravan initiated in 2011, we observed there was an important aspect lacking in the services for people who need help related to speech, language and hearing services, it was quality in professionals and honesty.</p>
            <br>
            <p>Approximately 1.71% of the Indian population fall under the category of speech and hearing disability. This needs great attention from quality professionals in the field of Speech and Hearing.</p>
            <br>
            <p>Shabd Shravan is one of those many steps we have taken towards acting upon providing speech, language and hearing assistance using our best knowledge and capability for people who will benefit from it. At Shabd Shravan we believe in creativity, hard work and transparency, it’s a place where we elevate, engage and inspire people in transforming their lives with confidence.</p>
            <br>
            <p>We’re excited to start a visual dialogue, learn about you and assist in doing a terrific job together.</p>
        </div>
    </div>

</div>
