<div class="container">
    
    <div class="row row-content" style="padding-bottom:70px; padding-top:80px">
       <div class="col-xs-12 section-title">
          <h2>New Born Hearing Services</h2> 
       </div>
        <div class="col-xs-12 content">
            <p><i>Who can evaluate and treat my hearing?</i><p>
            <p><i>The Audiologists are the primary healthcare professionals who evaluate, diagnose, treat and manage hearing loss. Audiologists hold Bachelors, Masters or Doctor of Audiology (AuD) degrees and must be registered with the Rehabilitation Council of India.</i><p>
            <br>
            <p>One to two babies in every 1,000 born in India are born with a hearing loss in one or both ears. Most babies born with a hearing loss are born into families with no history of hearing loss so it is important to screen all babies as early as possible</p>
            <br>
            <p>Two types of newborn hearing screening tests are used to examine hearing in babies. Both of these tests are safe and comfortable.</p>
            <ul>
              <li style="padding-bottom:15px"><b>Otoacoustic Emissions Test (OAEs)</b>: A miniature earphone and microphone are placed in the ear, sounds are played and a response is measured.</li>
              <li><b>Auditory Brainstem Response Test (ABR)</b>: ABR is the best test available for newborns and infants up to 6 months of age that can provide information about the softest level of sound the ear can hear.</li>
            </ul>
        </div>
    </div>

</div>
