<div class="container">
    
    <div class="row row-content" style="padding-bottom:70px; padding-top:80px">
       <div class="col-xs-12 section-title">
          <h2>Paediatric Hearing Assessment</h2> 
       </div>
        <div class="col-xs-12 content">
            <p><i>Who can evaluate and treat my hearing?</i><p>
            <p><i>The Audiologists are the primary healthcare professionals who evaluate, diagnose, treat and manage hearing loss. Audiologists hold Bachelors or Masters or Doctor of Audiology (AuD) degrees and must be registered with the Rehabilitation Council of India.</i><p>
            <br>
            <p>Our team makes paediatric hearing testing fun and interactive, and we are happy to involve you in this process. Hearing is important, and our team is dedicated to providing you with immediate results on your child's hearing abilities. We invite special populations, including those children who have not been able to complete a hearing evaluation elsewhere.</p>
            <br>
            <p>Our staff strongly believes in a family-centered and positive approach to the management of your child’s hearing loss. It is our goal to enable your child to do and be anything and everything she or he desires. Part of reaching this goal is educating you as a parent about hearing loss and its related implications if left unmanaged. </p>
        </div>
    </div>

</div>