<div class="container">
    
    <div class="row row-content" style="padding-bottom:70px; padding-top:80px">
       <div class="col-xs-12 section-title">
          <h2>Speech and Language Comprehensive Assessment</h2> 
       </div>
        <div class="col-xs-12 content">
            <p><i>Who can evaluate and treat my Speech and Language?</i><p>
            <p><i>The Speech Language Pathologist are the primary healthcare professionals who evaluate, diagnose, treat and manage Speech, Voice and Language disorders. Speech and Language Therapist hold Bachelors or Masters or Doctor of Speech and Language Pathology degrees and must be registered with the Rehabilitation Council of India.</i><p>
            <br>
            <p>From the correct production of speech sounds to language based training, we create custom treatment plans for each child involving family members, caregivers and teachers. Our team offers one on one sessions, classes, and socialization groups for some age groups to help your child make consistent progress and develop the confidence and skills for happy, successful and communicative lives.</p>
            <br>
            <p>Areas of evaluation for children age birth to high school include:</p>
            <ul>
              <li style="padding-bottom:5px">Articulation</li>
              <li style="padding-bottom:5px">Childhood apraxia of speech</li>
              <li style="padding-bottom:5px">Expressive/Receptive language</li>
              <li style="padding-bottom:5px">Language Processing</li>
              <li style="padding-bottom:5px">Listening skills for children with hearing loss/cochlear implants</li>
              <li style="padding-bottom:5px">Stuttering</li>
              <li style="padding-bottom:5px">Voice</li>
              <li style="padding-bottom:5px">Literacy</li>
              <li style="padding-bottom:5px">Social/pragmatics</li>
            </ul>
        </div>
    </div>

</div>