<div class="container">
    
    <div class="row row-content" style="padding-bottom:70px; padding-top:80px">
       <div class="col-xs-12 section-title">
          <h2>Speech and Language Therapy</h2> 
       </div>
        <div class="col-xs-12 content">
            <p>Although your child is working, we make sure they are having a whole lot of fun! At Shabd Shravan, each therapy session is customized to motivate your child and meet his/her needs. Customized tips, school, and home plans are given at the end of each session to assist in faster acquisition of skills and generalization beyond our office doors.</p>
            <br>
            <p>Our therapists provide customized treatment services to address:</p>
            <ul>
              <li style="padding-bottom:5px">Expressive language skills</li>
              <li style="padding-bottom:5px">Receptive Language Skills</li>
              <li style="padding-bottom:5px">Articulation/Speech Development</li>
              <li style="padding-bottom:5px">Auditory Processing Disorder</li>
              <li style="padding-bottom:5px">Auditory habilitation/rehabilitation</li>
              <li style="padding-bottom:5px">Phonological Development</li>
              <li style="padding-bottom:5px">Dyspraxia/Apraxia</li>
              <li style="padding-bottom:5px">Social Interaction</li>
              <li style="padding-bottom:5px">Literacy</li>
              <li style="padding-bottom:5px">Voice</li>
            </ul>
        </div>
    </div>

</div>