<div class="container">
    
    <div class="row row-content" style="padding-bottom:70px; padding-top:80px">
       <div class="col-xs-12 section-title">
          <h2>Voice Therapy</h2> 
       </div>
        <div class="col-xs-12 content">
            <p>Anyone may have a voice disorder if he/she has problem with pitch, volume, tone, and other qualities of voice. These problems occur when the vocal cords don't vibrate normally.</p>
            <br>
            <p>The inability to use our voices effectively has the potential to have a major impact on personal relationships, careers, and the overall quality of our lives. </p>
            <br>
            <p>The Speech-language pathologists (SLPs) at Shabd Shravan specialize in voice therapy and are involved in the diagnosis, assessment, planning, and treatment of individuals with voice disorders.</p>
            <br>
            <p>We evaluate voice use and vocal function to determine the causes of voice loss and the best treatments for improving and maintaining voice production. The whole comprehensive assessment involves the family/care takers for proper follow up at home and best results.</p>
        </div>
    </div>

</div>